.card{
    border-radius: 10px;
    background-color: rgb(211, 211, 211)
}

.saved-list{
    border-radius: 15px;
    background-color: rgb(192, 192, 192)
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}